@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';
@import 'https://fonts.googleapis.com/css?family=Ubuntu:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css?family=Poppins:wght@100;300;400;500&display=swap';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

/*Global Settings*/

:root {
    /*Colours*/
    --main-color: #a30006;
    /*Fonts*/
    --main-font: 'Ubuntu', sans-serif;
    --second-font: 'Poppins', sans-serif;
}

body {
    font-family: 'Lora', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    color: #424242;
    margin-bottom: 35px;
    margin-top: 0;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 21px;
}

p {
    font-family: var(--second-font);
    font-size: 16px;
    color: #818181;
}

a {
    transition: all 0.3s ease-in-out;
}

section {
    text-align: center;
}

ul { 
    padding:0 
}

.blockquote p {
    font-size: 32px;
    line-height: 45px;
    padding-left: 30px;
    border-left: 3px solid #424242;
    color: #424242;
}

.title {
    position: relative;
    margin-bottom: 100px;
}

.subtitle {
    margin-top: 10px;
    font-weight: 100;
    text-transform: none;
    font-size: 15px;
}

.section-title{
    font-size: 32px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    color: #424242;
    margin-bottom: 100px;
    margin-top: 0;
}

.text-title {
    font-family: var(--second-font);
    text-transform: none;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: normal;
}

.title:after {
    content: '';
    height: 5px;
    width: 40px;
    background-color: var(--main-color);
    position: absolute;
    top: 80px;
    left: calc(50% - 20px);
}

.association-logo {
    width: 25rem;
}

.menu-logo {
    width: 180px;
    filter: brightness(90%);
}

.menu-logo::hover {
    width: 50px;
}


/*Bootstrap*/

.navbar-vira {
    background-image: none;
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 0;
    border-color: transparent;
    transition: all 0.3s ease-in-out;
}

.form-control option {
    color: #424242;
}

.form-control {
    border-radius: 0;
    font-family: var(--second-font);
    padding: 25px;
    font-size: 18px;
    background-color: transparent;
    color: #424242;
    margin-bottom: 30px;
    border-color: var(--main-color);
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 194, 185, 0.6);
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.element .form-control::-webkit-input-placeholder {
    color: #424242;
}

.element .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #424242;
}

.element .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #424242;
}

.element .form-control:-ms-input-placeholder {
    color: #424242;
}


/*Helper class*/

.mt80 {
    margin-top: 80px;
}

.mb80 {
    margin-bottom: 80px;
}

.mr60 {
    margin-right: 60px;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bg-img div {
    z-index: 1;
    position: relative;
}

.bg-img:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.section {
    padding: 100px 0;
}


/*Vira Card*/

.vira-card {
    text-align: center;
    /*margin-bottom: 45px;*/
}

.vira-card .vira-card-header {
    margin-bottom: 25px;
}

.vira-card .vira-card-header .card-icon {
    border: 1px solid var(--main-color);
    border-radius: 100%;
    display: inline-block;
    height: 120px;
    width: 120px;
    line-height: 120px;
    position: relative;
}

.vira-card .vira-card-header .card-icon .fa {
    margin-top: 45px;
    font-size: 30px;
}

.vira-card .vira-card-header .card-icon:after {
    content: '';
    height: 100px;
    width: 100px;
    background-color: var(--main-color);
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
}

.vira-card .vira-card-header .card-icon span {
    color: #fff;
    font-size: 45px;
    position: relative;
    z-index: 1;
}

.vira-card .vira-card-content h3 {
    position: relative;
    margin-bottom: 10px;
}

.vira-card .vira-card-content h3>a {
    color: #1a1a1a;
}

.vira-card .vira-card-content p {
    font-size: 15px;
}

.news-newspaper {
    font-style: italic;
}

.vira-card .vira-card-content .social-icons {
    margin-top: 30px;
}


/*Button*/

.vira-btn {
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 3px;
    padding: 15px 80px;
    margin-bottom: 30px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.vira-btn:hover {
    background-color: var(--main-color);
    color: #fff;
}

.news-btn {
    font-family: var(--second-font);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 30px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
    margin-top: 20px;
}

.news-btn:hover {
    color: #fff;
    background-color: #fff;
    border-color: var(--main-color);
    color: var(--main-color);
}

.menu-btn {
    font-family: var(--second-font);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 10px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
}

.menu-btn:hover {
    color: #fff;
    background-color: #fff;
    border-color: var(--main-color);
    color: var(--main-color);
}

.ins-btn {
    font-family: var(--second-font);
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px 30px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
    margin-top: 20px;
}

.ins-btn:hover {
    color: #fff;
    background-color: #fff;
    border-color: var(--main-color);
    color: var(--main-color);
}

.solid {
    background-color: var(--main-color);
    color: #fff;
}

.solid:hover {
    background-color: #fff;
    color: var(--main-color);
}

.small-btn {
    padding: 10px 130px;
}


/*Element page*/

.element .navigation-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.element .navigation-bar a {
    color: #424242;
}

.element .dark-bar {
    background-color: #fff;
}

.element .menu:after {
    color: #424242;
}

.element .title:after {
    left: 0;
    top: 60px;
}

.headings p {
    margin-bottom: 80px;
}

.social-icons ul {
    text-align: center;
    padding-left: 0;
    display: inline-block;
}

.social-icons ul a li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid var(--main-color);
    margin-right: 10px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    width: 36px;
    border-radius: 5rem;
}

.social-icons-form ul a li {
    display: inline-block;
    list-style-type: none;
    color: var(--main-color);
    font-size: 18px;
    line-height: 32px;
    width: 36px;
    margin-top: 30px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons ul a li:last-child {
    margin-right: 0;
}

.social-icons ul a:hover li {
    color: var(--main-color);
    background-color: #fff;
}


/*Navigation*/

#menu-item {
    transition: all 0.3s ease-in-out;
}

.menu-item {
    background-color: #1a1a1a;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.menu-item ul {
    padding-left: 0;
    margin-bottom: 0;
}

.menu-item ul a li {
    padding: 15px 0;
    list-style-type: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item ul a:hover li {
    color: var(--main-color);
    text-decoration: none;
}

.hide-menu {
    margin-top: -377px;
}

.show-menu {
    margin-top: 0;
}

.dark-bar {
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: 0px 10px 40px -17px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 40px -17px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 40px -17px rgba(0, 0, 0, 0.5);
}

.navigation-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0;
    font-size: 30px;
}

.navigation-bar a {
    color: #fff;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu:after {
    position: absolute;
    left: -65px;
    top: 10px;
    color: #fff;
    font-size: 16px;
}

.menu-container {
    background-color: #fff;
    color: #1a1a1a;
}

.menu-link {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 0.6em;
    color: #1a1a1a !important;
    margin-right: 15px;
}

.menu-link:hover {
    text-decoration: none;
    color: #a30006 !important;
}

.m:after {
    content: 'MENU';
}

.c:after {
    content: 'CLOSE';
}


/*Home page*/

.header {
    background-image: url(../images/multitec-banner.webp);
    height: 100vh;
    position: relative;
    min-height: 659px;
}

.intro-box {
    height: 100vh;
    display: table;
    text-align: center;
    width: 100%;
}

.intro {
    display: table-cell;
    vertical-align: middle;
}

.header h1 {
    margin: 0;
}

.header h1,
.header p {
    color: #fff;
    letter-spacing: 2px;
}

.header p {
    font-size: 32px;
    padding-top: 0;
    padding-bottom: 40px;
}

.header .vira-btn {
    background-color: var(--main-color);
    color: #fff;
}

.header .vira-btn:hover {
    background-color: #fff;
    color: #424242;
}

.about {
    background-color: #f8f8f8;
}

.about img {
    margin: 30px auto;
    display: block;
}

.about span {
    font-family: 'Raleway';
    font-weight: 600;
}

.expert {
    background-color: #f8f8f8;
}

.expert p {
    line-height: 200%;
}

.expert .bg-img {
    background-image: url(../images/multitec-inscripcion.webp);
    background-position-x: 85%;
    height: 100%;
}

.expert .bg-img:after {
    display: none;
}

.expert .section {
    padding-left: 30px;
    padding-right: 30px;
}

.vira-quote {
    background-image: url(../images/3.jpg);
    /*padding: 120px 0;*/
    color: #fff;
    font-style: italic;
}

.vira-quote p {
    font-size: 32px;
    color: #fff;
}

.vira-quote .quote {
    margin-bottom: 40px;
}

.vira-quote .author {
    font-size: 21px;
    margin-bottom: 40px;
}

.watch {
    background-image: url(../images/7.jpg);
    font-size: 32px;
    color: #fff;
    padding: 150px 0;
}

.watch a {
    border: 2px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 70px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 0;
    font-size: 21px;
    color: #fff;
}

.watch a:hover,
.watch a:active,
.watch a:focus {
    background-color: #fff;
    color: #424242;
}

.subscribe {
    background-color: var(--main-color);
}

.subscribe .vira-btn {
    margin-bottom: 0;
    color: #424242;
    font-weight: 700;
    border-color: #fff;
    background-color: #fff;
}

.subscribe .vira-btn:hover {
    background-color: transparent;
    color: #fff;
}

.subscribe .form-control {
    width: 320px;
    margin-bottom: 0;
    border-color: #fff;
    color: #fff;
}

.contact .vira-card {
    background-color: #f8f8f8;
    padding: 35px 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 45px;
}

.faq-title{
    font-size: 32px;
    color: #fff;
    font-family: var(--main-font);
}

.faq-title:after{
    content: '';
    height: 5px;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 81px;
    left: calc(50% - 20px);
}

.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.faq-question {
    font-family: var(--second-font);
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    text-transform: uppercase;
}

.faq-question:hover {
    font-size: 21px;
}


.faq-answer {
    font-family: var(--second-font);
    font-weight: 100;
    font-size: 15px;
    color: #fff;
    padding: 0 250px;
    overflow: hidden;
    display: block;

    animation-duration: 0.4s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
}


.faq-question:after {
    content: "+";
    font-size: 20px;
    color: #fff;
    float: right;
}

.faq-active:after {
    content: "-";
}

.contact .vira-card .vira-card-header {
    margin-bottom: 15px;
    font-size: 21px;
    color: var(--main-color);
}

.contact .vira-card .vira-card-content h3 {
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.contact .vira-card .vira-card-content h3:after {
    top: 40px;
}

.contact .vira-card .vira-card-content p {
    font-size: 18px;
}

.contact-title{
    font-size: 21px;
    letter-spacing: 2px;
    margin-bottom: 45px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    color: #424242;
    margin-bottom: 35px;
    margin-top: 0;
}

.telegram{

}

.maps{
    border-radius: 20px;
    width: 600px; 
    height: 450px;
}

.footer {
    background-color: #202020;
    text-align: center;
    padding: 30px 0;
}

.footer span {
    color: var(--main-color);
}

.footer a {
    color: #fff;
}

.footer-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-row {
    display: flex;
    justify-content: center!important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-center{
    text-align: center!important;
}

.footer-nav-links{
    display: flex;
    justify-content: space-around;
    list-style:none;
    font-family: var(--second-font);
    padding: 0;
}

.footer-copy {
    font-size: 14px;
    font-family: var(--second-font);
    font-style: italic;
    color: #fff;
}

.footer-little{
    font-size: 14px;
    color: #fff;
}

/*animations*/

.vira-card .vira-card-header .card-icon:after {
    transition: all 0.3s ease-in-out;
}

.vira-card:hover .vira-card-header .card-icon:after {
    height: 120px;
    width: 120px;
    top: -1px;
    left: -1px;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: var(--main-color);
    margin: 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--main-color);
    height: 14px;
    width: 14px;
    margin: 3px;
}

@media (max-width: 767px) {
    .vira-card {
        margin-bottom: 60px;
    }

    .maps{
        border-radius: 20px;
        width: 350px; 
        height: 225px;
    }
}

::-webkit-scrollbar {
    width: 1.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    width: 1rem;
    border-radius: 5px;
    border: 3px solid #fff;
}

.red_text {
    color: var(--main-color);
}

.telegram {
    color: var(--main-color);
    font-weight: bold;
}

.telegram:hover{
    text-decoration: underline;
    color: var(--main-color);
}

.youtube {
    -webkit-box-shadow: 10px 10px 61px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 61px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 61px -18px rgba(0, 0, 0, 0.75);
}

.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    
}

.video-container iframe,
.video-container object,
.video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 995px) {
    .menu-links {
        display: none;
    }

    .maps{
        border-radius: 20px;
        width: 400px; 
        height: 250px;
    }
    .faq-answer {
        padding: 0 10px;
    }

    .title:after {
        top: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .maps{
        border-radius: 20px;
        width: 300px; 
        height: 200px;
    }

    .faq-answer {
        padding: 0 10px;
    }

    .title:after {
        top: 120px;
    }

    .title:after {
        top: 95px;
    }
}

